/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.header{
    position: fixed;
    z-index: 50;
    width: 100%;
    left: 0;
    top: 0;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0F0F0F;
    z-index: 2;
}
.header-1 {
    width: 100%;
    height: 44px;
    background-color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #969696;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 14px 20% 14px 20%;
    position: relative;
    z-index: 2;
}

@media (max-width: 1200px) {
    .header-1 {
        padding: 14px 10% 14px 10%;
    }
}
@media (max-width: 1000px) {
    .header-1 {
        padding: 14px 2% 14px 1%;
    }
}
.header-1 a{
    text-decoration: none;
}
.phone-work-time {
    display: flex;
    justify-content: space-between;
}
.phone-work-time li:nth-child(even){
    padding: 0px 14px;
}
.phone-work-time:first-child{
    background: url(../img/icons/phone.svg) 0 0 no-repeat;
    padding-left: 40px;
}

.autorization {
    color: #969696;
    background: url(../img/icons/arrow.svg) 11px 5px no-repeat;
    padding-left: 13px;
}
.autorization::before{
    content: "";
    height: 3px;
    width: 5px;
    padding: 0px 0px 0px 15px;
    background: url(../img/icons/dor.svg) 0 2px no-repeat;
}


/*-------------------------------------------------------------------*/


.header-2 {
    max-height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10% 0px 20%;
    background-color: #0F0F0F;
    position: relative;
}

@media (max-width: 1200px) {
    .header-2 {
        padding: 0px 5% 0px 10%;
    }
}

.logo {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    padding: 15px 0px 0px 0px;
    position: relative;
    z-index: 2;
}
.header-menu{
}
.header-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.header-list li{
    padding: 31px 10% 31px 0px;
    white-space: nowrap;
}
.header-list li a{
    color: #969696;
}
.serch-basket{
    display: flex;
    position: relative;
    z-index: 2;
}
.serch-basket a{
}
.basket {
    display: block;
    padding: 10px 10px;
    margin: 20px 20px;
}
.basket span{
    position: relative;
    top: 6px;
    right: 16px;

}
/* .basket span::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0px 3px 0px 0px;
}
.basket span::after{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
} */
.search {
    display: block;
    padding: 10px 10px;
    margin: 20px 20px;
}
.header__burger {
    display: none;
}
@media (max-width: 1000px) {
    .header-menu{
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        overflow: auto;
        width: 100%;
        height: 100%;
        background-color: #0F0F0F;
        padding: 130px 0px 0px 50px;
        transition: all 0.3s ease;
    }
    .header-2 {
        max-height: 60px;
    }
    .header-menu.active{
        top: 0;
        transition: all 0.3s ease;
    }
    .header-list{
        display: block;
    }
    .header__burger{
        margin-top: 25px;
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease;
    }
    .header__burger::before,
    .header__burger::after{
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .logo {
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        padding: 15px 0px 0px 0px;
    }
}



/*--------------------------------------------------------------------------*/
.content{
    padding-top: 124px;
    max-width: 1920px;
    margin: 0 auto;
}
@media (max-width: 1000px) {
    .content{
        padding-top: 104px;
    }
}
.main-1 {
    height: 810px;
    margin: 0 auto;
    color: #fff;
    background: url(../img/Rectangle.png) 50% no-repeat;
}
.main-1__content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0px 0px 0px;
}

.main-1__logo {
    width: 320px;
    height: 320px;
    border: solid 4px #fff;
    text-align: center;
    padding: 80px 40px;
    margin: 0px 0px 5% 0px;
}
.main-1__logo h2{
    font-weight: 700;
    font-size: 54px;
    line-height: 86px;
    text-align: center;
    border-bottom: 2px solid  #fff;
}
.main-1__logo span{
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
}
.main-1__text{
    width: 40%;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
}


/*--------------------------------------------------------------------------*/

.main-2 {
    display: flex;
    /* flex-wrap: wrap; */
}
.main-2__left {
    width: 1040px;
    min-height: 730px;
    background: #000000;
    padding: 93px 80px 0px 80px;
    text-align: center;
}
.main-2__left-clock-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.main-2__left h2{
    display: block;
    color: #fff;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}
.main-2__left h2 span{
    margin: 50px auto 0px;
    display: block;
    width: 120px;
    height: 2px;
    background: #fff;
}
.main-2__clock {
    width: 260px;
    max-height: 325px;
    display: block;
    background: #191B1C;
    padding: 55px 22px;
    margin: 50px 15px 15px 15px;
}
.main-2__clock-item{
    display: block;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.main-2__clock-price{
    font-size: 16px;
    line-height: 19px;
    color: #D0D0D0;
}
.main-2__clock img{
    max-width: 100%;
}
@media (max-width: 1200px) {
    .main-2__clock {
        width: 460px;
        max-height: 625px;
    }
}
.main-2__right {
    background: url(../img/2.png) 0 0 no-repeat;
    width: 880px;
    height: 730px;
    padding: 480px 0px 0px 0px;
    background-size: 100% 100%;
}
.main-2__right h2{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
.main-2__right h2 span{
    margin: 30px 0px 42px 0px;
    display: block;
    width: 100px;
    height: 1px;
    background-color: #fff;
    margin: 30px auto;
}
.main-2__katalog {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: solid 1px #fff;
    width: 150px;
    height: 50px;
    padding: 10px 0px 0px 0px;
    margin: auto;
}
@media (max-width: 1900px){
    .main-2__right{
        height: auto;
        background: url(../img/2.png) 0 50% no-repeat #000;
    }
}
@media (max-width: 1700px) {
    .main-2__right{
        width: 100%;
        height: 730px;
        background: url(../img/2.png) 50% 50% no-repeat #000;
    }
    .main-2__left {
        width: 100%;
        min-height: 730px;
        background: #000000;
        padding: 93px 80px 0px 80px;
        text-align: center;
    }
    .main-2__left-clock-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .main-2 {
        flex-wrap: wrap;
    }
}
@media (max-width: 920px){
    .main-2__right{
        display: block;
        background-size: 100% auto;
        background: url(../img/2.png) 50% 50% no-repeat #000;
    }
}

/*----------------------------------------------------------------------*/
.main-3{
    display: flex;
    Width: 1040px;
    Height: 600px;
}
.main-3__left {
    width: 880px;
    height: 600px;
    background: url(../img/3.png);
}
.main-3__right {
    background-color: #000;
    width: 1040px;
    height: 600px;
}